<h3 class="ui center aligned medium icon header">
  <i class="circular olive rocketchat icon"></i>
  Message Me
</h3>

<div class="ui two column grid">
    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content" id="message-container">
                <div class="ui small feed" id="messages">
                    <%= render @messages %>
                </div>
            </div>
            <div class="extra content">
                <%= form_for(@message, url: message_path, html: { class: "ui reply form", role: "form" }, remote: true) do |f| %>
                    <div class="ui fluid icon input">
                        <%= f.text_field :body, placeholder: "Enter your message here...", autocomplete: :off %>
                        <%= f.button '<i class="bordered inverted olive icon edit"></i>'.html_safe %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content" id="active-users-container">
                <table class="ui very basic collapsing celled table">
                    <thead>
                        <tr>
                            <th>Active Users:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.each do |username| %>
                            <tr>
                                <td>
                                    <h4 class="ui image header">
                                        <div class="content">
                                            <%= username %>
                                        </div>
                                    </h4>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>